
/* Your CSS Code here. */
.holder {
    height: 100vh; /* Optional: Set the height of the holder to the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap:wrap;
}

.item-1 {
    width:100px;
    text-align: center;
	background-color:red;
	border:1px solid;
	height:60px;
	
	
}
